/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bar-width: 20px;
    --bar-height: 2px;
    --hamburger-gap: 6px;
    --foreground: #000000;
    --background: white;
    --hamburger-margin: 15px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position: absolute;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked)+.sidebar {
    translate: 0;
}

 /*
 /* Asterix wildcard selector to override default styles added by the browser */
/*{
     padding: 0%;
     /* this overrides the browser defaults */
     margin: 0%;
     /* this overrides the browser defaults */
     box-sizing: border-box;
     /* default is that the element's border and padding are added to the element's specified width/height. 
    "box-sizing: border-box;" allows padding and border to be included in the width and height, 
    i.e. when applying height and width to an element later, it will be applied to an entire elements including the border */
    background-color: bisque
}  */ 


/*
 body {
    background-color: bisque

    
 }
 /* ------------------------------------------------------------------------*/

 /* General styles */
 /*body {
    min-height: 100vh;
    /* 100vh represents the full height of the viewport,
    regardless of the content on the page. When you use 100vh for an element's height, it will take up the entire vertical height of the user' s screen,
    and it won't be affected by the content or other elements on the page. 100% is a relative unit of measurement. */
    /*display: flex;
    flex-direction: column;*/


 /* ------------------------------------------------------------------------*/

 /* Navigation bar */
/*
li, a, button {
     font-family: 'Rufina', sans-serif;
     font-size: 12px;
     text-transform: none;
     text-decoration: none;
     letter-spacing: none;
     color: #252525;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 5%; /* 18px at the top and bottom, 5% left and right */
 }
*/
/*
 .logo {
    cursor:pointer; 
    color: #545454;
    font-family: Rufina;
    text-transform: uppercase;
    letter-spacing: 1px;
 }

 .nav_links {
    list-style: none;
 }

 .nav_links li {
    display: inline-block; /* to make links sit side by side */
    padding: 0 10px; /* 0 at the top and bottom, 10px left and right */
 }
*/
/*
 .nav_links li a { /* target nav_links items + the a tags within them */
    transition: all 0.3s ease 0s; /* 0s for no delay */
 }
*/
 .nav_links li a:hover { /* on mouse over */
 /*   color: #595959;
 }

  header {
      z-index: 99;
      background-color: #f8f8f8;
      color: #302f2f;
      display: flex;
      justify-conent: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      width: 100%;
      padding: 5px 3%;
      /* 5px at the top and bottom, 3% left and right */
  }
  */
/*
  .menu {

      list-style-type: none;
      font-family: 'Rufina', sans-serif;
      font-size: 10px;

  }

  .menu-links {
      display: inline-block;
      list-style-type: none;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0.3px;
  }

  .logo {
      cursor: pointer;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
  }
*/
  /* re-instate formatting */
  /*.nav_links {
    display: inline-block; /* to make links sit side by side */
  /* padding: 0 5px; /* 0 at the top/bottom, 5px left/right */
  /* list-style-type: none;
    font-family: 'Rufina', sans-serif;
    font-size: 10px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.3px;
    color: #302f2f;
    
 }
*/

 /*
         padding: 0 5px;
         /* 0 at the top/bottom, 5px left/right */
         */
 /* ------------------------------------------------------------------------*/

.page-container{
    min-height: 100vh;
    display: flex;
    /* flex: 1 1 auto; /*(grow: 1, shrink 1, basis auto)*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    display: block;
 }

/* ------------------------------------------------------------------------*/

/* Section Hero image */

 .home-img1 {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 66px;
    margin-bottom: 4em;
}

/* ------------------------------------------------------------------------*/

/* Section 1 */

.main-content1 {
    box-sizing: border-box;
    font-family: Rufina;
    letter-spacing: 1px;
    text-align: center;
    color: #595959;
}

.main-content-margins {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto; /* top/bottom 0, left/right auto */
}

.section-margins{
    padding: 0 100px;
}

.section-header1 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 4em 60px 0px 60px;
    margin-bottom: 50px;
}

.section-para {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------*/

/* Section 2 */

.bgcolor-2 {
    background-color: blue;
    margin-bottom: 10px;
}

.bgcolor-1 {
    background-color: aqua;
}

section h4 {
    text-align: center;
    background-color: chocolate;
}


section article {
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;


}

section article p {
    color: brown;

}



footer {
    color: red;
    
    width:100%;
    text-align: center;

 }

#section2-h2 {
    margin-bottom: 50px;
}

.main-content2 {
    box-sizing: border-box;
    font-family: Rufina;
    letter-spacing: 1px;
    text-align: center;
    color: #595959;
    

.section-header2 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 4em 60px 0px 60px;
    margin-bottom: 50px;
}

para2-background {
    
}

/* ------------------------------------------------------------------------*/

/* Footer */

h3 {
    
    opacity: 1.0;
}

.footer-all {
    font-size: 15px;
    padding: 30px 250px;
    box-sizing: border-box;
    font-family: Rufina;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #595959;
    background-color:#f7e8de;
}

 /*
.flex-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    color: #545454;
}

#hero1 {
    height: 600px;
    width: 100%;
    background: url('../images/page1-home/page1-home-section1/page1-home-section1-img1.png') no-repeat top center / cover;
}

h2 {
    text-align: center;
}

/* work out how to center para when screen width is very wide, atm sits on the left */
/* Helping you shift your grief */
/*#page1-home-section1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0em;
    height: 500px;
    max-width: 900px;
}

.home-para {
    text-transform: none;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0em;
    padding: 50px 150px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    color: #545454;
}

#hero2 {
    height: 600px;
    width: 100%;
    background: url('../images/page1-home/page1-home-section2/page1-home-section2-img1.png') no-repeat top center / cover;
}

h2 {
    text-align: center;
}
*/
/* work out how to center para when screen width is very wide, atm sits on the left */
/* What is loss */
/*#page1-home-section2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0em;
    height: 500px;
    max-width: 900px;
}
 
#home-para2 {
    text-transform: none;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0em;
    padding: 50px 150px;
    background-color: #dfcfc4; /*check why text box doesn't change colour */
}



/* ------------------------------------------------------------------------*/
/* Media query: mobile and larger (420px and up) */
@media screen and (min-width: 420px) {

}

/* ------------------------------------------------------------------------*/
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}

/* ------------------------------------------------------------------------*/
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* ------------------------------------------------------------------------*/
/* Largest devices (laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    
}


